@{

    ViewBag.Title = "Viewmmember";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@using WebApplication19.Models;
<!-- /. NAV SIDE  -->
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">
                    Members <small>View</small>
                </h1>
            </div>
        </div>
        <!-- /. ROW  -->

        <div class="row">
            <div class="col-md-12">
                <!-- Advanced Tables -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @Html.ActionLink("Add", "About", "Home")
                        @*<br />
                                                @using (Html.BeginForm("Search", "Home"))
                                                {
                                                    @Html.TextBox("name")
                            <input type="submit" value="Search" onclick="toggle();" />
                                                }*@

                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        @for (int i = 0; i < msearch.search().Columns.Count; i++)
                                        {
                                            <th>@msearch.search().Columns[i].ColumnName</th>

                                        }
                                        <th>Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int j = 0; j < msearch.search().Rows.Count; j++)
                                    {
                                        <tr >
                                            @for (int i = 0; i < msearch.search().Columns.Count; i++)
                                            {
                                                <td>

                                                    @msearch.search().Rows[j][i].ToString()

                                                </td>

                                            }
                                            <td>
                                                @Html.ActionLink("Delete", "Delete", new { id = msearch.search().Rows[j][0] })

                                                @Html.ActionLink("Edit", "up", new { id = msearch.search().Rows[j][0] })

                                            </td>
                                        </tr>
                                        @*<tr id="show" style="display:none">
                                                @for (int i = 0; i < Class2.Select().Columns.Count; i++)
                                                {
                                                    <td >

                                                        @msearch.search().Rows[j][i].ToString()

                                                    </td>

                                                }
                                                <td>
                                                    @Html.ActionLink("Delete", "Delete", new { id = Class2.Select().Rows[j][0] })

                                                        @Html.ActionLink("Edit", "up", new { id = Class2.Select().Rows[j][0] })

                                                </td>
                                            </tr>*@

                                    }
                                    <!--
                               
                                       </tr>-->
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <!--End Advanced Tables -->
            </div>
        </div>
      <b>  @Html.ActionLink("Back", "Viewmmember")</b>


        <!-- /. ROW  -->
        <!--<div class="row">
          <!--  <div class="col-md-6">
                <!--   Kitchen Sink
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Kitchen Sink
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Username</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>fat</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>twitter</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                 End  Kitchen Sink
            </div>
            <div class="col-md-6">
                <!--   Basic Table
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Basic Table
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Username</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>fat</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>twitter</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- End  Basic Table
            </div>
        </div>-->
        <!-- /. ROW  -->
        <!--     <div class="row">
                 <div class="col-md-6">
                     <!--    Striped Rows Table
                     <div class="panel panel-default">
                         <div class="panel-heading">
                             Striped Rows Table
                         </div>
                         <div class="panel-body">
                             <div class="table-responsive">
                                 <table class="table table-striped">
                                     <thead>
                                         <tr>
                                             <th>#</th>
                                             <th>First Name</th>
                                             <th>Last Name</th>
                                             <th>Username</th>
                                         </tr>
                                     </thead>
                                     <tbody>
                                         <tr>
                                             <td>1</td>
                                             <td>Mark</td>
                                             <td>Otto</td>
                                             <td>mdo</td>
                                         </tr>
                                         <tr>
                                             <td>2</td>
                                             <td>Jacob</td>
                                             <td>Thornton</td>
                                             <td>fat</td>
                                         </tr>
                                         <tr>
                                             <td>3</td>
                                             <td>Larry</td>
                                             <td>the Bird</td>
                                             <td>twitter</td>
                                         </tr>
                                     </tbody>
                                 </table>
                             </div>
                         </div>
                     </div>
                     <!--  End  Striped Rows Table
                 </div>
                 <div class="col-md-6">
                     <!--    Bordered Table
                     <div class="panel panel-default">
                         <div class="panel-heading">
                             Bordered Table
                         </div>
                         <!-- /.panel-heading
                         <div class="panel-body">
                             <div class="table-responsive table-bordered">
                                 <table class="table">
                                     <thead>
                                         <tr>
                                             <th>#</th>
                                             <th>First Name</th>
                                             <th>Last Name</th>
                                             <th>Username</th>
                                         </tr>
                                     </thead>
                                     <tbody>
                                         <tr>
                                             <td>1</td>
                                             <td>Mark</td>
                                             <td>Otto</td>
                                             <td>mdo</td>
                                         </tr>
                                         <tr>
                                             <td>2</td>
                                             <td>Jacob</td>
                                             <td>Thornton</td>
                                             <td>fat</td>
                                         </tr>
                                         <tr>
                                             <td>3</td>
                                             <td>Larry</td>
                                             <td>the Bird</td>
                                             <td>twitter</td>
                                         </tr>
                                     </tbody>
                                 </table>
                             </div>
                         </div>
                     </div>
                     <!--  End  Bordered Table
                 </div>
             </div>-->
        <!-- /. ROW  -->
        <!--   <div class="row">
               <div class="col-md-6">
                   <!--    Hover Rows  -
                   <div class="panel panel-default">
                       <div class="panel-heading">
                           Hover Rows
                       </div>
                       <div class="panel-body">
                           <div class="table-responsive">
                               <table class="table table-hover">
                                   <thead>
                                       <tr>
                                           <th>#</th>
                                           <th>First Name</th>
                                           <th>Last Name</th>
                                           <th>Username</th>
                                       </tr>
                                   </thead>
                                   <tbody>
                                       <tr>
                                           <td>1</td>
                                           <td>Mark</td>
                                           <td>Otto</td>
                                           <td>mdo</td>
                                       </tr>
                                       <tr>
                                           <td>2</td>
                                           <td>Jacob</td>
                                           <td>Thornton</td>
                                           <td>fat</td>
                                       </tr>
                                       <tr>
                                           <td>3</td>
                                           <td>Larry</td>
                                           <td>the Bird</td>
                                           <td>twitter</td>
                                       </tr>
                                   </tbody>
                               </table>
                           </div>
                       </div>
                   </div>
                   <!-- End  Hover Rows
               </div>
               <div class="col-md-6">
                   <!--    Context Classes
                   <div class="panel panel-default">

                       <div class="panel-heading">
                           Context Classes
                       </div>

                       <div class="panel-body">
                           <div class="table-responsive">
                               <table class="table">
                                   <thead>
                                       <tr>
                                           <th>#</th>
                                           <th>First Name</th>
                                           <th>Last Name</th>
                                           <th>Username</th>
                                       </tr>
                                   </thead>
                                   <tbody>
                                       <tr class="success">
                                           <td>1</td>
                                           <td>Mark</td>
                                           <td>Otto</td>
                                           <td>mdo</td>
                                       </tr>
                                       <tr class="info">
                                           <td>2</td>
                                           <td>Jacob</td>
                                           <td>Thornton</td>
                                           <td>fat</td>
                                       </tr>
                                       <tr class="warning">
                                           <td>3</td>
                                           <td>Larry</td>
                                           <td>the Bird</td>
                                           <td>twitter</td>
                                       </tr>
                                       <tr class="danger">
                                           <td>4</td>
                                           <td>John</td>
                                           <td>Smith</td>
                                           <td>jsmith</td>
                                       </tr>
                                   </tbody>
                               </table>
                           </div>
                       </div>
                   </div>
                   <!--  end  Context Classes  -
               </div>
           </div>
           <!-- /. ROW  -->

    </div>
    <!--<footer><p>All right reserved. Template by: <a href="http://webthemez.com">WebThemez</a></p></footer>-->
</div>
<script>
    function toggle() {
        //if (document.getElementById("hidethis").style.display == 'none') {
        //    document.getElementById("hidethis").style.display = 'table-row'; // set to table-row instead of an empty string
        //} else {
        document.getElementById("hide").style.display = 'none';
        document.getElementById("show").style.display = "";
        //}
    }
</script>
<!-- /. PAGE INNER  -->
