@model SMS.Models.LoginModel

@{
    ViewBag.Title = "login";
}

<h2>login</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        
        
        <br />
        <br />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.U_name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.U_name)
                @Html.ValidationMessageFor(model => model.U_name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.U_pass, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.U_pass)
                @Html.ValidationMessageFor(model => model.U_pass)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
