<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Bootstrap Styles-->
    <link href="@Url.Content("~/Content/")assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="@Url.Content("~/Content/")assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <!-- Custom Styles-->
    <link href="@Url.Content("~/Content/")assets/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <!-- TABLE STYLES-->
    <link href="@Url.Content("~/Content/")assets/js/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
</head>
<body>

    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<a class="navbar-brand" href="index.html"><i class="fa fa-gear"></i> <strong> <p>LIBRARY MANAGMENT SYSTEM</p> </strong></a>*@
<a class="navbar-brand" href="index.html"><p> ***  LIBRARY MANAGMENT</p></a>
            </div>

            <ul class="nav navbar-top-links navbar-right">

                <!-- /.dropdown -->
                <!-- /.dropdown -->
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user" style="background-color:aliceblue; border-radius:200px;">
                        <li>
                            @Html.ActionLink("Logout", "Index", "Home")
 @*<a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>*@
                        </li>
                        @*<li>
                            <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>*@
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side"  role="navigation" >
            <div class="sidebar-collapse" style="background-color:#C0C0C0; border-radius:30px;">
                <ul class="nav" id="main-menu" style="background-color:#888888 ; border-radius:30px; text-align:center">

                    <li>
                        @Html.ActionLink("MEMBERS", "viewmmember", "Home")
                    </li>
                    @*<li>
                        @Html.ActionLink("REPORT", "report", "Home")
                    </li>*@
                    <li>
                        @Html.ActionLink("BOOK ISSUE", "viewbook", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("BOOK RECEIVE", "show", "bookrecv")
                    </li>
                    <li>
                        @Html.ActionLink("BOOK COPY", "show", "Bookcopy")
                    </li>

                    <li>
                        @Html.ActionLink("LOCATION", "show", "loc")
                    </li>
                    <li>
                        @Html.ActionLink("BOOK", "show", "book")
                    </li>
                    <li>
                        @Html.ActionLink("BOOK EDITION", "show", "bkedition")
                    </li>


                    <li>
                        @Html.ActionLink("PUBLISHER", "show", "publisher")
                    </li>
                    <li>
                        @Html.ActionLink("BOOK AUTHOR", "show", "bkauthor")
                    </li>
                    <li>
                        @Html.ActionLink("AUTHOR", "show", "author")
                    </li>
                </ul>

            </div>

        </nav>

    </div>
    <!-- /. PAGE WRAPPER  -->
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="@Url.Content("~/Content/")assets/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="@Url.Content("~/Content/")assets/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="@Url.Content("~/Content/")assets/js/jquery.metisMenu.js"></script>
    <!-- DATA TABLE SCRIPTS -->
    <script src="@Url.Content("~/Content/")assets/js/dataTables/jquery.dataTables.js"></script>
    <script src="@Url.Content("~/Content/")assets/js/dataTables/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>
    <!-- Custom Js -->
    <script src="assets/js/custom-scripts.js"></script>


    <div>
        @RenderBody()
    </div>
</body>
</html>
