@model SMS.Models.AddResult

@{
    ViewBag.Title = "addattend";
    Layout = "~/Views/Shared/_Layout_logout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>AddResult</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.std_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.std_id, (SelectList)ViewBag.adil, "Select", new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.std_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.class_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.class_id, (SelectList)ViewBag.adil1, "Select", new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.class_id, "", new { @class = "text-danger" })
            </div>
        </div>


        


        <div class="form-group">
            @Html.LabelFor(model => model.sub_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.sub_id, (SelectList)ViewBag.adil3, "Select", new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.sub_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.p_or_a, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.p_or_a)
                @Html.ValidationMessageFor(model => model.p_or_a)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.atten_date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.atten_date)
                @Html.ValidationMessageFor(model => model.atten_date)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

